/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container2{
    color: black;
    background-image: url(../img/background_body.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad de la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo */
    padding: 20px;
}
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Estilos de la tabla de productos */
  .table {
    background-color: #fff;
  }
  
  .table th {
    background-color: #343a40;
    color: #fff;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .table .product-info {
    display: flex;
    align-items: center;
  }
  
  .table .product-info img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  /* Estilos de la tabla de total a pagar */
  .total-table {
    margin-top: 30px;
  }
  
  .total-table td {
    font-weight: bold;
  }
  
  /* Estilos del botón */
  .btn-checkout {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  
  .btn-checkout a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #da7e01;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn-checkout a:hover {
    background-color: #bf6600;
  }
  
  